# Test Node JS Application before deploy

trigger:
  - main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Release
    jobs:
      - job: Release_Pipeline
        steps:
          - checkout: self
            submodules: true
          - task: AzureStaticWebApp@0
            inputs:
              app_location: '/'
              api_location: 'api'
              output_location: 'out'
            env:
              azure_static_web_apps_api_token: $(deployment_token)
